<section class="features background-light">
    <div class="features__content content w-80">
        <div class="features__image">
            <img src="assets/img/wpforms/screenshot-01.png" alt="">
        </div>
        <div class="features__item">
            <div class="features__item__title">
                Gain Control of Your Forms
            </div>
            <div class="features__item__description">
                The biggest challenge with WordPress forms until now has been that all form layouts are controlled by WordPress themes, and most themes simply don’t prioritize form layouts. And worst, a lot of them lack the ability to create custom landing pages. WPForms Form Pages addon fixes this problem, so you don’t have to settle for mediocre form layouts and low form conversions… With Form Pages, you can instantly create a custom landing page for any of your WordPress forms by simply enabling the Form Page Mode from your Form Settings. You can add your logo, choose from two different high-converting form styles, pick a color scheme and that’s it. Your distraction-free custom form landing page is ready to be shared.
            </div>
        </div>
    </div>
</section>