<section class="headerpages background-light">
    <div class="headerpages__content content w-80">
        <div class="headerpages__head">
			<div class="headerpages__heading">
				<h2 class="headerpages__title">Form Pages</h2>
				<div class="headerpages__badge">
					<img src="assets/img/wpforms/pro-badge-default.svg" />
				</div>
			</div>
            <p class="headerpages__description">Want to improve your form conversions? Form Pages by WPForms allows you to create completely custom "distraction-free" form landing pages to boost conversions (without writing any code).</p>
            
            <div class="headerpages__action">
                <a href="#" class="btn btn__action">Try the Demo</a>
                <a href="#" class="btn btn__action__active">Get WPForms Now</a>
            </div>

            <div class="headerpages__videocta">
                <a 
                    data-fslightbox="gallery" autoplay="true" 
                    href="https://www.youtube.com/watch?v=mUGYPlAgJPw"
                >
                    <img src="assets/img/wpforms/form-pages.svg" alt="">
                    <div class="headerpages__playbutton">
                        <img src="assets/img/wpforms/play-button.svg" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>