<section class="opportunities">
    <div class="opportunities__content content w-80">
        <div class="opportunities__gallery">
            <div class="gallery">
                <img src="assets/img/wpforms/screenshot-02.png" alt="">
            </div>
            <div class="gallery">
                <img src="assets/img/wpforms/screenshot-03.png" alt="">
            </div>
        </div>
        <div class="opportunities__head">
            <p class="opportunities__description">Form Pages by WPForms is an exceptional Google Forms alternative for Wordpress, and you can use it to Create custom landing pages for:</p>
        </div>
        <div class="opportunities__body">
            <div class="opportunity">
                <img src="assets/img/wpforms/icons/envelope.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Lead Generation</h4>
                <p class="opportunity__description">Make subscribing to your email list super simple for users by creating a webpage dedicated solely to signing up.
                </p>
            </div>

            <div class="opportunity">
                <img src="assets/img/wpforms/icons/poll.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Surveys</h4>
                <p class="opportunity__description">
                    Whether it be a survey to gauge customer loyalty, an employee satisfaction survey, or an event feedback form, having a webpage .
                </p>
            </div>
            <div class="opportunity">
                <img src="assets/img/wpforms/icons/id-badge.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Membership Sites
                </h4>
                <p class="opportunity__description">
                    Create a form landing web page on your site with user registration and login forms, making it easier on people to sign up and login to your.
                </p>
            </div>
        </div>
    </div>
</section>