<section class="opportunities">
    <div class="opportunities__content content w-80">
        <div class="opportunities__body">
            <div class="opportunity">
                <img src="assets/img/wpforms/icons/eye.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Distraction Free Landing Pages</h4>
                <p class="opportunity__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                </p>
            </div>

            <div class="opportunity">
                <img src="assets/img/wpforms/icons/paint-brush.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Multiple Styles to Choose From</h4>
                <p class="opportunity__description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                </p>
            </div>
            <div class="opportunity">
                <img src="assets/img/wpforms/icons/swatchbook.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Pre-made & Custom Color Schemes
                </h4>
                <p class="opportunity__description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                </p>
            </div>
            <div class="opportunity">
                <img src="assets/img/wpforms/icons/image.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Custom Logo Support</h4>
                <p class="opportunity__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                </p>
            </div>

            <div class="opportunity">
                <img src="assets/img/wpforms/icons/smile-beam.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">No Coding Knowledge Required</h4>
                <p class="opportunity__description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                </p>
            </div>
            <div class="opportunity">
                <img src="assets/img/wpforms/icons/check-circle.svg" alt="Icon" class="opportunity__icon">
                <h4 class="opportunity__title">Quick & Easy Setup
                </h4>
                <p class="opportunity__description">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.
                </p>
            </div>
        </div>
    </div>
</section>