<section class="testimonials">
    <div class="testimonials__content content w-80">
        <div class="testimonials__body">
            <div class="testimonials__list">
                <div class="testimonial">
                    <p class="testimonial__description">
                        “ At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium “
                    </p>
                    <div class="testimonial__profile">
                        <div class="testimonial__info">
                            <h4 class="testimonial__name"> WebEndev</h4>
                        </div>
                        <div class="testimonial__star">
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                        </div>
                    </div>
                </div>
                <div class="testimonial testimonial_highlight">
                    <p class="testimonial__description">
                        “ At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium “
                    </p>
                    <div class="testimonial__profile">
                        <div class="testimonial__info">
                            <h4 class="testimonial__name"> Bill Erickson</h4>
                        </div>
                        <div class="testimonial__star">
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <p class="testimonial__description">
                        “ At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium “
                    </p>
                    <div class="testimonial__profile">
                        <div class="testimonial__info">
                            <h4 class="testimonial__name"> LouisePKelly</h4>
                        </div>
                        <div class="testimonial__star">
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                            <span class="testimonial__star__rating"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials__action">
            <a href="#" class="btn btn__action">Try the Demo</a>
            <a href="#" class="btn btn__action__active">Get WPForms Now</a>
        </div>
    </div>
</section>