/* Breakpoint sizes */
$screen-xs-min: 320px;
$screen-sm-min: 544px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

/* Create the mixin (usually in a separate .scss file) */
@mixin breakpoint($media) {
  @if $media == xs {
    @media only screen and (min-width: $screen-xs-min) { @content; }
  }
  @else if $media == sm {
    @media only screen and (min-width: $screen-sm-min) { @content; }
  }
  @else if $media == md {
    @media only screen and (min-width: $screen-md-min) { @content; }
  }
  @else if $media == lg {
    @media only screen and (min-width: $screen-lg-min) { @content; }
  }
}